<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
</head>
<body>
    <h1>Group Detail</h1>
    <form method="post">
        {% csrf_token %}
        <label for="group_name">Group Name</label><br>
        <input type="text" name="group_name" id="group_name"><br><br>
        <label for="group_type">Group Type</label><br>
        <input type="text" name="group_type" id="group_type"><br>
        <br>
        <button type="submit">Create Group</button>
    </form>
    <br><br>
    <button><a href="{% url 'groups:list' %}">Back to Group List</a></button>
</body>
</html>